	div{margin:0 0 1px;padding:0px 0;color:#2d2c2d;font-family:Tahoma;font-size:14px;font-weight:bold}
	#wrap{
		width:100%;
		position:relative;
		width:auto;
		padding:5px;
		border:1px solid #bdbdbd;
		background:#f7f7f7
	}
	#header{
		width:100%;
		width:auto;
		margin-top:2px;
		padding:2px;
		border:2px solid #bfbfbf;
		background:#e5e5e5
	}
	#container{
		*display:inline-block;
		_width /**/:100%;
		padding-right:200px;
		padding-left:200px;
		position:relative;
		border:2px solid #bfbfbf;
		background:#e5e5e5
	}
	#container:after{
		display:block;clear:both;content:''
	}
	.snb{
		float:left;
		position:relative;
		margin-right:-180px;
		left:-190px;
		width:85px;
		margin-top:10px;
		border:1px solid #bdbdbd;
		background:#fff;
		text-align:center;
	}
	.content{
		float:left;
		width:98%;
		height:750px;
		position:relative;
		margin-top:10px;
		margin-left:-90px;
		border:1px solid #bdbdbd;
		background:#fff;
		text-align:center;
	}
	/* 로컬 구역 & 채팅*/
	.aside{
		float:left;
		position:relative;
		margin-left:-178px;
		left:190px;
		width:280px;
		height:750px;
		
		margin-top:10px;
		border:1px solid #bdbdbd;
		background:#fff;
		/* text-align:center */
	}
	#room-info{
		position: absolute;
		top:4%;
		left: 12%;
		font-size: 10px;
	}

	#chatinput{
		position : absolute;
		top:700px;
  		background: none repeat scroll 0 0 #F9F9F9;
  		border: 1px solid #CCCCCC;
  		border-radius: 0px 0px 5px 5px;
  		height: 30px;
  		letter-spacing: 1px;
  		margin-bottom: 0px;
  		padding: 4px 4px;
  		width: 270px;
	}
	#file{
		position : absolute;
		top:670px;
	}
	#chatrecord {
		position : absolute;
		top:670px;
		left:205px;
	}
	#messages{
		position : absolute;
		top:250px;
  		overflow: scroll;
  		background: none repeat scroll 0 0 #F9F9F9;
  		border: 1px solid #CCCCCC;
  		border-radius: 5px 5px 0px 0px;
  		height: 400px;
  		letter-spacing: 1px;
  		margin-bottom: 0px;
  		padding: 4px 4px;
  		width: 270px;
	}
@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
@charset "UTF-8";
#cssmenu {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
}
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu ul {
  position: relative;
  z-index: 597;
  float: left;
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 598;
  width: 100%;
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul ul ul {
  top: -2px;
  right: 0;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul ul {
  top: -45px;
  left: 99%;
}
#cssmenu ul li {
  margin-top: -5px;
  float: none;
}
#cssmenu ul li ul li{
  margin-top: -30px;
}
#cssmenu ul ul {
  margin-top: 1px;
}
#cssmenu ul ul li {
  font-weight: normal;
}
/* Custom CSS Styles */
#cssmenu {
  width: 80px;
  font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
  zoom: 1;
  font-size: 12px;
}
#cssmenu:before {
  content: '';
  display: block;
}
#cssmenu:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
}
#cssmenu > ul {
  width: 80px;
}
#cssmenu ul ul {
  width: 80px;
}
#cssmenu li {
  position: relative;
}
#cssmenu ul li.has-sub > a:after {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -6px;
}
#cssmenu ul ul li.first {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
#cssmenu ul ul li.last {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  border-bottom: 0;
}
#cssmenu ul ul {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
#cssmenu.align-right > ul > li > a {
  border-right: none;
}
#cssmenu.align-right {
  float: right;
}
#cssmenu.align-right li {
  text-align: right;
}
#cssmenu.align-right ul li.has-sub > a:before {
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -6px;
}
#cssmenu.align-right ul li.has-sub > a:after {
  content: none;
}
#cssmenu.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 598;
  width: 100%;
}
#cssmenu.align-right ul ul li.first {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
#cssmenu.align-right ul ul li.last {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}
#cssmenu.align-right ul ul {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
#google_translate_element{
  position: absolute;
  top: 2%;
  left: 15px;
  margin-top: -6px;
}